.verify {
  display: grid;
  grid-template:
    "a a e b b"
    "a a d b b"
    "a a c b b";
  justify-items: center;
  align-items: center;
  padding: 50px;

  .charity-keys {
    grid-area: a;
  }
  .prize-pool-keys {
    grid-area: b;
  }

  .sol-scan-link {
    grid-area: c;
    align-self: flex-start;
    width: 150px;
    font-size: 20px;
  }
  > .pageTitle {
    grid-area: e;
    font-size: 40px;
  }
  .sollotto-logo {
    grid-area: d;
    text-align: center;
    h3 {
      font-size: 25px;
    }
    img {
      width: 200px;
      animation: spin 3s linear infinite;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.verify-card {
  background-color: var(--dark-blue);

  height: 100%;
  width: 500px;
  border-radius: 30px;
  padding: 2px;
  position: relative;
  .verify-content {
    background: rgba(19, 26, 53, 0.8);
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    align-items: center;
    height: 100%;
    border-radius: 30px;
    padding: 25px;
    h4 {
      font-size: 15px;
    }
  }
  .verify-card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 100px;
    }
    h2 {
      font-size: 25px;
    }
  }
  .verify-card-body {
    .verify-key {
      margin-bottom: 10px;
      font-size: 15px;
    }
  }
  .verify-card-footer {
    img {
      width: 150px;
      margin: 20px;
    }
  }
}

@media (max-width: 576px) {
  .verify {
    display: grid;
    grid-template:
      "d"
      "e"
      "a"
      "b"
      "c";
    row-gap: 50px;
    .verify-card {
      width: 300px;
    }
  }
}
