.resultSection {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  justify-content: center;
  margin: 2rem 0rem;
  padding: 0rem 1rem;
}

#charity-list {
  height: fit-content;
}
#charity-list p {
  margin: 0;
  margin-top: 10px;
  width: 100%;
}

#back-button {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
#back-button h4 {
  margin: 0;
  align-items: center;
}
.disable {
  cursor: none;
}
#ticket-details {
  display: grid;
  grid-template-columns: auto;
  background: rgba(19, 26, 53, 0.9);
  padding: 2rem;
}
.win {
  background: rgba(19, 26, 53, 0.9);
  padding: 2rem;
}
.win h4 {
  margin: 0px;
}
#resultSection .wrap {
  align-self: start;
  border-radius: 0px 0px 20px 20px;
}
#winTicket {
  align-self: start;
  border-radius: 0px 0px 20px 20px;
}
.bottomSectionResult {
  border-radius: 20px 20px 20px 20px;
}
.entryRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.numColumn {
  justify-self: start;
}
.chaColumn {
  justify-self: start;
}

.coming-soon {
  width: 100%;
  height: 200px;
}

.coming-soon div {
  background: rgba(19, 26, 53, 0.9);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#winner-charity {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
}
#winner-charity * {
  margin: 0;
  margin-top: 10px;
}
#winner-charity-vote * {
  margin: 0;
}
#winner-charity-per * {
  margin: 0;
}
@media only screen and (min-width: 980px) {
  #winTicket {
    align-self: stretch;
  }
  #search-pool {
    width: 100% !important;
  }
  #charityHeader h4 {
    font-size: 20px;
  }
  #other-details {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 50px;

    height: fit-content;
  }
  .detailSection {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    row-gap: 70px;
    justify-content: center;
    margin: 2rem 0rem;
    padding: 0rem 1rem;
  }
  .win {
    background: rgba(19, 26, 53, 0.9);
    padding: 15px;
    /* border-radius: 0px 20px 20px 0px; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .win h4 {
    font-size: 20px;
    border-bottom: 0.5px rgba(128, 128, 128, 0.247) solid;
    padding-bottom: 10px;
    margin: 0;
  }
  .win p {
    margin: 0;
    margin-top: 20px;
    font-size: 15px;
  }

  .bottomSectionResult {
    display: grid;
    grid-template-columns: auto;
    border-radius: 20px;
  }
  #ticket-details {
    display: grid;
    background: rgba(19, 26, 53, 0.9);
    padding: 20px;
    grid-template-columns: auto auto;
    border-radius: 20px;
  }
  .leftColumn {
    justify-self: center;
  }

  #ticket-details * {
    margin: 0;
    margin-bottom: 10px;
  }
  #winner-charity {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 230px 230px 230px;
  }
  #winner-charity * {
    margin: 0;
    margin-top: 10px;
  }
  #winner-charity-vote * {
    margin: 0;
  }
  #winner-charity-per * {
    margin: 0;
  }
}
