.datepicker-toggle {
    display: inline-block;
   background-color: red;
   padding: 3px;
   align-self: flex-end;
  }

  .datepicker-input{
    // background-color: aqua;
    outline: 0;
    border: 0;
    padding: 5px 20px;
  }