.resultdetailSection{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 3rem !important;
    box-sizing: border-box;
    padding: 0rem 1rem;
    
}
