.n-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  .n-modal-content {
    display: flex;
    padding: 5px;
    width: 350px;
    .n-modal-body {
      background-color: var(--dark-blue);
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .n-modal-header {
        display: grid;
        grid-template-columns: 1fr 1fr 0.25fr;
        align-items: start;
        width: 100%;
        padding: 8px 15px;
        > * {
          margin: 10px 0 0 0;
        }
        > h3 {
          font-size: 20px;
        }
        > p {
          font-size: 13px;
        }
        > div {
          justify-self: end;
          align-self: center;
          margin: 0;
          cursor: pointer;
        }
        border-bottom: 1px solid white;
      }
      .n-modal-main {
        padding: 15px;
        width: 100%;
        .n-modal-voting-area {
          background-color: var(--navy-blue);
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;
          justify-items: end;
          padding: 0 10px;
          > input {
            height: 20px;
            width: 50px;
            justify-self: start;
            background-color: var(--navy-blue);
            border: none;
            color: white;
            &[type="number"] {
              -moz-appearance: textfield;
            }

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
            }
            &:focus,
            &:focus-visible {
              outline: none;
            }
          }
        }
      }
      .n-modal-footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        padding: 0 15px 15px 15px;
        width: 100%;
        column-gap: 20px;
        > button {
          background-color: var(--dark-blue);
          border: 1px solid rgba($color: white, $alpha: 0.3);
          border-radius: 5px;
          color: white;
          width: 100%;
          padding: 5px 0;
          cursor: pointer;
          &:disabled {
            border: 1px solid rgba($color: white, $alpha: 0.2);
            color: rgba($color: white, $alpha: 0.2);
          }
        }
      }
    }
  }
}
