.charitydetailSection{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    row-gap: 30px;
    justify-content: center;
    margin-top: 3rem !important;
    padding: 0rem 1rem;
}
.charitybottomSection{
    display: grid;
    grid-template-columns: auto;
    row-gap: 20px;
}


@media only screen and (min-width: 980px) {
    .charitybottomSection{
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 20px;
    }

}