.charitySection {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  justify-content: center;
  margin: 2rem 0rem;
  padding: 0rem 1rem;
}
#charityHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 20px;
}
#charityHeader h4 {
  margin: 20px 0px 10px 0px;
}

#charityHeader div {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
#charityHeader div span {
  border-radius: 30px;
}
#charityHeader p {
  font-size: 10px;
  margin: 0;
  padding: 2px 7px 2px 7px;
  border-radius: 25px;
}
#poolC {
  background-color: rgba(0, 0, 0, 0.322);
  padding: 10px 30px 10px 30px;
  border-radius: 20px 20px 0px 0px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  width: 100%;
}
#charitySelection {
  border-radius: 0px 0px 20px 20px;
}
#poolC hr {
  border: 1px rgba(128, 128, 128, 0.26) solid;
  background-color: rgba(128, 128, 128, 0.26);
}
#other-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 70%;
}
#charitySelect {
  background: rgba(19, 26, 53, 0.9);
  padding: 10px;
  /* border-radius: 0px 20px 20px 0px; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#charitySelect p {
  font-size: 20px;
}
#charitySelect {
  background: rgba(19, 26, 53, 0.9);
  padding: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.charityIntroSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  padding:  0px 20px 0px 0px;
}
.charityIntroSection h4 {
  margin: 0;
  margin-top: 10px;
  width: fit-content;
}
#project-buttons button {
  margin: 0px 20px 0px 0px;
  padding: 10px;
  color: white;
  background-color: var(--tungsten);
  border: 0;
  border-radius: 5px;
  font-size: 12px;
}
#project-buttons {
  width: fit-content;
  word-wrap: break-word;
  height: fit-content;
}
#project-desc {
  margin: 0;
  max-width: 300px;
  word-wrap: break-word;
}
#project-desc p {
  margin: 0;
}
#suggest-charity {
  margin-top: 15px;
  
  /* background-color: aqua; */
}
#suggest-charity h4 {
  margin: 0;
}
#suggest-charity p {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 50%;
}
#suggest-charity a {
  padding: 10px;
  font-size: 15px;
}
.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 1px;
}
.border-gradient-purple {
  border-image-source: linear-gradient(
    245.22deg,
    #c200fb 7.97%,
    #3772ff 49.17%,
    #3773fe 0,
    #5ac4be 92.1%
  );
}
@media only screen and (min-width: 980px) {
  #search-pool {
    width: 100% !important;
  }
  #charityHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px gray solid;
    padding-bottom: 10px;
  }
  #addedBy-Table {
    padding: 7px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.322);
    font-size: 12px;
  }
  #status-table {
    padding: 7px;
    margin: 5px;

    font-size: 10px;
    border-radius: 20px 20px 20px 20px;
  }
  #charitySelection {
    border-radius: 0px 20px 20px 0px;
  }
  #charityHeader div {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }
  #charityHeader div span {
    border-radius: 30px;
  }
  #charityHeader p {
    font-size: 10px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.322);
    padding: 2px 15px 2px 15px;
    border-radius: 25px;
  }

  #poolC {
    background-color: rgba(0, 0, 0, 0.322);
    padding: 10px 30px 10px 30px;
    border-radius: 20px 0px 0px 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    width: 100%;
  }

  #other-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 70%;
  }
  .wrap {
    border-radius: 0px 20px 20px 0px;
  }
  #charitySelect {
    background: rgba(19, 26, 53, 0.9);
    padding: 10px;
    border-radius: 0px 20px 20px 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

  .charityIntroSection {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }
  .charityIntroSection h4 {
    margin: 0;
    margin-top: 10px;
    width: fit-content;
  }
  #project-buttons button {
    margin: 0px 20px 0px 0px;
    padding: 10px;
    color: white;
    background-color: var(--tungsten);
    border: 0;
    border-radius: 5px;
    font-size: 12px;
  }
  #project-buttons {
    width: fit-content;
    word-wrap: break-word;
    height: fit-content;
  }
  #project-desc {
    margin: 0;
    max-width: 500px;
    word-wrap: break-word;
  }
  #project-desc p {
    margin: 0;
  }

  .charityExtraInfo {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  #info {
    font-size: 12px;
  }
  .charityImg-detail{
    width: 100;
  }
}
