nav {
  display: grid;
  grid-template-columns: 150px 1fr auto auto;
  grid-template-rows: auto auto;
  padding-top: 0.5rem;
  border-bottom: 2px solid #1c274f;
}
.logo {
  width: 100%;
}
.logoArea {
  align-self: center;
  padding-left: 0.5rem;
}
.hamBtn {
  justify-self: end;
  align-self: center;
  padding-right: 0.5rem;
}

.hamBtn {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-5px, -8px);
}
.navList {
  grid-auto-flow: row;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 160%;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 60px;
  display: none;
  background: var(--navy-blue);
  z-index: 1;
}
.walletConnect {
  justify-self: end;
  align-self: center;
  cursor: pointer;
  margin-right: 1rem;
  display: grid;
  grid-template-columns: auto auto;
}
.walletConnect span {
  align-self: center;
  margin-left: 8px;
}
.navLink {
  margin: 0rem;
  display: grid;
  text-transform: capitalize;
  color: rgba(241, 241, 242, 0.5);
  align-content: center;
  padding: 1rem 0rem;
  transition: all 0.5s;
}
.navLink:hover {
  transition: all 0.5s;
  color: #fff;
  border-bottom: 1px solid var(--ocean);
}
@media only screen and (min-width: 980px) {
  nav {
    grid-template-columns: 200px 1fr auto auto;
    grid-template-rows: 100%;
    padding: 0.5rem 1.5rem 0rem 1.5rem;
  }
  .navList {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    grid-auto-flow: column;
    justify-self: center;
    position: relative;
    top: 0px;
    width: auto;
  }
  .navLink {
    padding: 0rem 0.7rem;
  }
  .hamBtn {
    display: none;
  }
  .logoArea {
    padding: 0px;
  }
}

@media only screen and (max-width: 980px) {
  .bar1,
  .bar2,
  .bar3 {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
  }
}
