#purchaseSection {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto 1fr;
	justify-content: center;
	margin: 2rem 0rem;
	padding: 0rem 1rem;
}
.pageHeader {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto 1fr;
	justify-content: stretch;
}
#purchaseSection .pageTitle {
	grid-column: 1/2;
	grid-row: 1/2;
	margin: 0px;
	justify-self: start;
	font-weight: 700;
}
.headerIcons {
	grid-column: 2/3;
	grid-row: 1/2;
	justify-self: end;
}
#purchaseHeader .ticketPrice {
	grid-column: 1/2;
	grid-row: 2/3;
	justify-self: start;
}
.lotteryCountdown {
	grid-column: 2/3;
	grid-row: 2/3;
	justify-self: end;
}

#purchaseSection .card {
	justify-self: start;
	margin-top: 1.5rem;
	border-radius: 4px;
	display: grid;
	place-content: center;
}
.purchaseCard {
	background: rgba(19, 26, 53, 0.9);

	padding: 2rem 1.5rem;
	border-radius: 4px;
}

/* Chrome, Safari, Edge, Opera */
#purchaseSection input::-webkit-outer-spin-button,
#purchaseSection input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox */
#purchaseSection input[type="number"] {
	-moz-appearance: textfield;
}
.numberSelector {
	background-color: var(--navy-blue);
	display: grid;
	grid-template-columns: repeat(6, auto);
	border-radius: 4px;
	padding: 5px;
}

.singleNumberSelector {
	display: grid;
	grid-template-columns: 100%;
	margin: 0px 0.5rem;
}
#singleNumberSelector_6 {
	margin-left: 1.5rem;
}
.numberSelectorArrow,
.numberInputWrapper {
	justify-self: center;
}
.numberSelectorInput {
	background: rgba(19, 26, 53, 0.9);
	padding: 5px;
	border: 0px;
	text-align: center;
	border-radius: 4px;
	height: 100%;
	width: 100%;
	color: #fff;
	font-family: "Circular", Arial, Helvetica, sans-serif;
}
.numberSelectorArrow {
	cursor: pointer;
}
.charitySelectorGrid {
	display: grid;
	grid-template-columns: auto;
	margin-top: 0.2rem;
}
.charitySelector {
	margin-top: 2.5rem;
}
.charitySelector span {
	margin-left: 0.5rem;
}
.singleCharitySelector {
	display: grid;
	grid-template-columns: 100%;
	background: rgba(19, 26, 53, 1);
	text-align: center;
	height: 100%;
	position: relative;
	max-width: 350px;
}
.psuedoGreyBg {
	transition: all 1s;
	background: #f1f1f2;
}
.psuedoBorder {
	padding: 2px;
}
.singleCharitySelectorWrapper {
	margin: 0.5rem;
}
.charityImg {
	width: 100%;
}
.charitySelectBtn {
	background: rgba(19, 26, 53, 1);
	color: #fff;
	transition: background 0.5s;
	border: 0px;
	padding: 1px;
}
.charitySelectBtn:hover:not([disabled]) {
	transition: background 0.5s;
	background: rgba(19, 26, 53, 0);
}
.charitySelectBtnWrapper {
	justify-self: center;
	align-self: end;
	margin: 0.5rem 0rem;
}
.charityName {
	margin: 1rem 0rem;
	padding: 0px 0.5rem;
}
.charitySelectBtn:disabled {
	transition: all 0.5s;
	cursor: initial;
	opacity: 0.5;
}
.charitySelectBtnWrapper .active {
	background: rgba(19, 26, 53, 0);
}
.charitySelectorIcon {
	width: 40px;
	position: absolute;
	left: 80px;
	top: -20px;
	display: none;
}
.purchaseCardFooter {
	display: grid;
	margin-top: 1rem;
	padding: 0.5rem;
}
.purchaseCardFooter .ticketPrice {
	justify-self: center;
	margin-bottom: 0.5rem;
}
@media only screen and (min-width: 980px) {
	.charitySelectorGrid {
		grid-template-columns: auto auto;
	}
	.singleCharitySelector {
		max-width: 200px;
	}
}
