.tabView {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  align-items: center;
  width: 100%;
}
#tabs {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 30px;
  padding: 20px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  p {
    padding: 5px 25px;
    text-align: center;
    width: fit-content;
    margin: 0;
    cursor: pointer;
    border-radius: 10px;
  }
  h4 {
    margin: 0;
  }
  span {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    column-gap: 5px;
    border-left: 0.5px solid rgba($color: #ffffff, $alpha: 0.5);
    padding: 0px 10px 0px 20px;
  }
}
.active {
  background-color: #ffffff;
  color: black;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
